

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}College Project{% endblock %}</title>
        <meta name="description" content="">
        <style>

		</style>
		{% load staticfiles %}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="{% static './college/style.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
    	<ul class="nav">
    		<li class="liNav"><a href="{% url 'index' %}">Home</a></li>
			<li class="liNav"><a href="{% url 'student' %}">Student</a></li>
			<li class="liNav"><a href="{% url 'professor' %}">Professor</a></li>
			<li class="liNav"><a href="{% url 'course' %}">Course</a></li>
            <li class="navLi" style="float: right"><a href="/admin/logout/">Log out</a></li>
		</ul>
        {% block content %}
    	<h1 class="jumbotron">College Registration</h1>
        <div class="btn-group">
            <form action="student/new/" method="POST" style="margin: 5px">{% csrf_token %}
                <button type="submit" class="btn btn-default" value="Add New Student" name="mybtn">Add New Student</button>
            </form>
            <form action="professor/new/" method="POST" style="margin: 5px">{% csrf_token %}
                <button type="submit" class="btn btn-default" value="Add New Professor" name="mybtn1">Add New Professor</button>
            </form>
            <form action="course/new/" method="POST" style="margin: 5px">{% csrf_token %}
                <button type="submit" class="btn btn-default" value="Add New Course" name="mybtn2">Add New Course</button>
            </form>
        </div>
    	{% endblock content %}
    </body>
</html>